
@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 8))}
}


// Styling
.slider {
	background: rgb(250,254,255);
	background: linear-gradient(0deg, rgba(250,254,255,1) 0%, rgba(171,171,171,1) 9%, rgba(194,194,194,1) 88%, rgba(255,255,255,1) 100%);
	box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, .125);
	height: 150px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 140px;
		position: absolute;
		width: 100px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
		height: 150px;
		width: 250px;
		margin-left: 8px;
		margin-right: 8px;
	}
}